@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@mixin big-button {
  width: 240px;
  height: 56px;
}
#app .button {
  @include big-button;
  box-sizing: border-box;
  color: #fff;
  background-color: #b69768;
  outline: none;
  border-radius: 0;
  transition: background-color 0.4s 0s;
  cursor: pointer;
  font: bold 18px Roboto Slab, Times New Roman, Times, serif;
  @media only screen and (min-width : 1300px) {
    &:hover {
      background-color: #07101C;;
    }
  }

  &_disabled {
    background-color: rgba(137, 149, 175, 0.2) !important;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }

  &_attractive {
    @extend .button;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: normal;
    background-color: #EF4D37;
    @media only screen and (min-width : 1300px) {
      @include big-button;
      border-radius: 0;
      &:hover {
        background-color: #EC2E2E;
      }
    }
  }
}
