.phone-input {
  position: relative;
  .v-text-field__slot {
    position: relative;
    padding-left: 56px;
    background: url('~assets/images/svg/ru.svg') 20px 7px no-repeat;
    &:after {
      position: absolute;
      left: 41px;
      top: 11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #8995af transparent transparent transparent;
      content: '';
    }
  }
  .phone-delete {
    position: absolute;
    right: -9px;
    top: 9px;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    height: 24px;
    background: #fff url('~assets/images/svg/del.svg') no-repeat center center;
    background-size: 12px 20px;
    &:hover {
      background: #fff url('~assets/images/svg/delh.svg') no-repeat center center;
    }
  }
}
